absl-py==2.4.0
accelerate==1.12.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.12.1
attrs==25.4.0
audioop-lts==0.2.2
audioread==3.1.0
auraloss==0.4.0
beartype==0.22.9
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
cloudpickle==3.1.2
cmake==4.2.1
ConfigArgParse==1.7.5
cuda-bindings==12.9.4
cuda-pathfinder==1.3.3
decorator==5.2.1
demucs==4.0.1
distillmos==0.9.1
dora_search==0.1.12
einops==0.8.2
espnet==202511
filelock==3.20.3
flatbuffers==25.12.19
frozenlist==1.8.0
fsspec==2026.2.0
gensvs==2.0.4
gitdb==4.0.12
GitPython==3.1.46
grpcio==1.78.0
h11==0.16.0
hf-xet==1.2.0
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.4.1
hypy_utils==1.0.29
idna==3.11
Jinja2==3.1.6
joblib==1.5.3
julius==0.2.7
kaldiio==2.18.1
lameenc==1.8.1
lazy_loader==0.4
librosa==0.11.0
lightning-utilities==0.15.2
llvmlite==0.46.0
loralib==0.1.2
Markdown==3.10.1
MarkupSafe==3.0.3
matplotlib==3.10.8
mkl-service==2.5.2
ml_collections==1.1.0
mpmath==1.3.0
msgpack==1.1.2
multidict==6.7.1
music2latent==0.1.8
networkx==3.6.1
ninja==1.13.0
nnaudio==0.3.4
numba==0.63.1
nvidia-cublas-cu12==12.8.4.1
nvidia-cuda-cupti-cu12==12.8.90
nvidia-cuda-nvrtc-cu12==12.8.93
nvidia-cuda-runtime-cu12==12.8.90
nvidia-cudnn-cu12==9.10.2.21
nvidia-cufft-cu12==11.3.3.83
nvidia-cufile-cu12==1.13.1.3
nvidia-curand-cu12==10.3.9.90
nvidia-cusolver-cu12==11.7.3.90
nvidia-cusparse-cu12==12.5.8.93
nvidia-cusparselt-cu12==0.7.1
nvidia-nccl-cu12==2.27.5
nvidia-nvjitlink-cu12==12.8.93
nvidia-nvshmem-cu12==3.4.5
nvidia-nvtx-cu12==12.8.90
omegaconf==2.3.0
onnxruntime-gpu==1.24.4
openunmix==1.3.0
pandas==3.0.1
peft==0.18.1
pesq==0.0.4
pillow==12.1.0
platformdirs==4.5.1
pooch==1.9.0
propcache==0.4.1
protobuf==6.33.5
psutil==7.2.2
ptflops==0.7.5
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
PyQt6==6.10.2
pystoi==0.4.1
pytorch-lightning==2.6.1
PyYAML==6.0.3
regex==2026.1.15
requests==2.32.5
retrying==1.4.2
rotary-embedding-torch==0.8.9
safetensors==0.7.0
scikit-learn==1.8.0
scipy==1.17.0
sentry-sdk==2.52.0
shellingham==1.5.4
smmap==5.0.2
soundfile==0.13.1
soxr==1.0.0
standard-aifc==3.13.0
standard-chunk==3.13.0
standard-sunau==3.13.0
submitit==1.5.4
sympy==1.14.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
threadpoolctl==3.6.0
tokenizers==0.22.2
toml==0.10.2
torch==2.10.0
torch-complex==0.4.4
torch-ema==0.3
torchaudio==2.10.0
torchmetrics==1.8.2
tqdm==4.67.3
transformers==5.1.0
treetable==0.2.6
triton==3.6.0
typeguard==4.5.1
typer-slim==0.21.1
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.3
uv==0.11.9
wandb==0.24.2
Werkzeug==3.1.5
wheel==0.46.3
xls_r_sqa==0.1.0
yarl==1.22.0
